/// Font size attribute applied to `<html>` and `<body>`.
/// We use 100% by default so the value is inherited from the user's browser settings.
/// @type Number
$global-font-size : 100% !default;

/// Default line height for all type.
/// `$global-lineheight` is 24px while `$global-font-size` is 16px
/// @type Number
$global-lineheight : 1.5 !default;

/// Global font weight used for normal type.
/// @type Keyword | Number
$global-weight-normal : normal !default;

/// Global font weight used for bold type.
/// @type Keyword | Number
$global-weight-bold : bold !default;

/// Sets the text direction of the CSS. Can be either `ltr` or `rtl`.
/// @type Keyword
$global-text-direction : ltr !default;

html {
  font-size : $global-font-size;
}



p:first-child {
  // Good for introductory paragraph
}

p:first-child:first-letter {
  // Drop caps
}

p + p {
  // Sibling paragraphs... good for justified text.
}
